* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  max-width: 300px;
  margin: 0 auto;
}

.card {
  /* display: flex;
  flex-direction: column;
  text-align: center; */
  margin-top: 100px;
  border: 1px solid rgb(155, 152, 152);
  border-radius: 10px;
  text-align: center;
  padding: 10px 0 20px 0;
}

h2 {
  margin: 20px 0 20px 0;
}

.list {
  display: flex;
  justify-content: center;
}

.list-item {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.delete-button {
  padding: 0 10px 0 10px;
}

.list-item:hover {
  outline: 1px solid black;
}

.item-name:hover {
  cursor: pointer;
}

.strike-out {
  text-decoration: line-through;
}